@model UserDataResponseModel
@{
    ViewData["Title"] = "UserLists";
    int count = 0;
}

<h4>User lists</h4>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">UserId</th>
            <th scope="col">UserName</th>
            <th scope="col">NRC</th>
            <th scope="col">CardNumber</th>
            <th scope="col">Balance</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <th scope="row">@(++count)</th>
                <td>@item.UserId</td>
                <td>@item.UserName</td>
                <td>@item.NRC</td>
                <td>@item.CardNumber </td>
                <td>@item.Balance</td>
                <td>
                    <a class="btn btn-danger btnDelete" data-user-id="@item.UserId">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("_Pagination", Model.PageSetting)
@section scripts {
    <script>
        $(".btnDelete").click(function () {
            var _reqModel = {
                UserId: $(this).data('user-id'),
            };

            confirmMessage("Are you sure want to delete?").then((result) => {
                if (!result) return;

                $.ajax({
                    url: "/admin/removeUser",
                    type: "POST",
                    data:
                    {
                        reqModel: _reqModel
                    },
                    success: function (data) {
                        showMessage(data, '/user/list');
                    },
                    error: function (request, status, error) {
                        console.log({ request, status, error });
                    }
                });
            });
        });
    </script>
}